<div class='.container-fluid'>
    <table class="mt-3 mb-3">
        <tr>
            <th>Setence</th>
            <th>Meaning</th>
            <th>Grammar</th>
            <th>Description</th>
            <th>Note</th>
            <th></th>
        </tr>
        <tr>
            <td class="col-md-3" style="width: 16%;" >
                <span >{{sentence.firstSentence}}</span>
                <span [ngClass]="sentence.highlightFlag ? 'highLight' : ''">{{sentence.coloredSentence}}</span>
                <span>{{sentence.lastSentence}}</span>
                <span [ngClass]="sentence.highlightFlag ? 'highLight' : ''">{{sentence.coloredSentenceOption}}</span>
                <span>{{sentence.lastSentenceOption}}</span>
            </td>
            <td class="col-md-3" style="width: 16%;">
                <div *ngIf='sentence.meaningFlag'>
                    {{sentence.meaning}}
                </div>
            </td>
            <td class="col-md-3" style="width: 16%;">
                <div *ngIf='sentence.grammarFlag'>
                    {{sentence.grammar}}
                </div>
            </td>
            <td class="col-md-3" style="width: 16%;">
                <div *ngIf='sentence.grammarFlag'>
                    {{sentence.description}}
                </div>
            </td>
            <td class="col-md-3" style="width: 16%;">
                <div>
                    {{sentence.note}}
                </div>
            </td>
            <td class="col-md-3" style="width: 16%;">
                <button (click)='btnHighlightOnclick()'>Highlight</button>
                <button (click)='btnMeaningOnclick()'>Meaning</button>
                <button (click)='btnGrammarOnclick()'>Grammar</button>
                <br>
            </td>
        </tr>
    </table>
    <a routerLink="/sentences/detail/{{previousId}}">Previous</a>
    ||||
    <a routerLink="/sentences/detail/{{nextId}}">next</a>
    <div style="margin: auto; width: 100px;">{{currentIndex + 1}}/{{sentencesArray.length}}</div>
</div>


