<td>
    <input placeholder="Setence" [(ngModel)]="sentence.mainSentence" (select)="select($event)">
</td>
<td><input placeholder="Meaning" [(ngModel)]="sentence.meaning"></td>
<td><input placeholder="Grammar" [(ngModel)]="sentence.grammar"></td>
<td><input placeholder="Description" [(ngModel)]="sentence.description"></td>
<td><input placeholder="Note" [(ngModel)]="sentence.note"></td>
<td>
    <button (click)='btnChooseOnclick()' [attr.disabled]="subString ? null: true">Choose</button>
    <button (click)='clearChosenSentences()'>ClearChosenSentences</button>
    <button (click)='btnSaveOnclick()'>Save</button>
    <button (click)='btnCancelOnclick(sentence)'>Cancel</button>
</td>